table {
	margin: 10px 0 9px;
}
.badge {
	color: white;
	font-size: 9px;
	padding: 2px 9px;
	text-transform: uppercase;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.badge-pending, .badge-requested, .badge-waiting-for-supplier {
	background-color: #F89406;
}
.badge-complete, .badge-closed {
	background-color: #468847;
}
.badge-canceled, .badge-cancelled, .badge-expired {
	background-color: #B94A48;
}
.badge-new {
    background-color: #E82A2A;
}
.badge-processing, .badge-product-received {
    background-color: #2D6CB9;
}
.badge-holded {
    background-color: #000000;
}

h5 {
	margin-top: 9px;
}
.table-borderless {
    margin: 0 0 9px;
}
.table-borderless td {
    padding-right: 20px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
}
.section-heading {
    margin-top: 15px;
    text-transform: uppercase;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
tr.active {
    background-color: #F5F5F5;
}